<div class="container">
  <h3>Registration</h3>
  <form [formGroup]="formRegistrasi">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <input type="text" formControlName="mobileNumber" placeholder="Mobile Number" class="form-control" id="mobile_number">
              </div>
              <div class="form-group">
                  <input type="text" placeholder="First Name" class="form-control" id="first_name" formControlName="firstName">
              </div>
              <div class="form-group">
                  <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control" id="last_name">
              </div>
              <table cellpadding="10px">
                <tr>
                  <td>
                      <div class="form-group">
                          <select class="form-control" id="month" formControlName="month">
                              <option value="month" disabled>Month</option>
                            <option value="{{a}}" *ngFor="let a of month">{{a}}</option>
                          </select>
                    </div>
                  </td>
                  <td>
                      <div class="form-group">
                          <select class="form-control" id="day" placeholder="day" formControlName="day">
                            <option value="day" disabled>Day</option>
                            <option value="{{a}}" *ngFor="let a of day" >{{a}}</option>
                          </select>
                    </div>
                  </td>
                  <td>
                      <div class="form-group">
                          <select class="form-control" id="year" formControlName="year">
                            <option value="year" disabled>year</option>
                            <option value="{{a}}" *ngFor="let a of year">{{a}}</option>
                          </select>
                      </div>
                  </td>
                </tr>
              </table>
              <label class="radio-inline"><input type="radio" name="gender" formControlName="gender">Male</label>
              <label class="radio-inline"><input type="radio" name="gender" formControlName="gender">Female</label>        
              <!-- <label class="checkbox-inline">
                  <input type="checkbox" value="male">Male
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="female">Female
              </label> -->
              <br><br>
              <div class="form-group">
                  <input type="email" formControlName="email" placeholder="Email" class="form-control" id="email">
              </div>
              <button type="button" [disabled]="buttonRegister==false" (click)="save()" style="padding:10px 250px; background-color: purple; color: white" class="btn ">Register</button>
              
              
          </div>
          <div class="col-md-6">
              <div *ngIf="visible==true">
                  <app-login-form ></app-login-form>
              </div>
          </div>
        </div>
  </form>
  
  
</div>


